terraform {
  backend "s3" {
    bucket         = "${bucket}"
    key            = "states/terraform.tfstate"
    encrypt        = true
    dynamodb_table = "${dynamodb_table}"
    region         = "${region}"
  }
}